<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialmediaproject2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".FriendRequestActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".FriendsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PersonProfileActivity" />
        <activity
            android:name=".ClickPostActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".FindFriendsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ImageViewerActivity"
            android:parentActivityName=".MainActivity" />


        <activity
            android:name=".PostActivity"
            android:parentActivityName=".MainActivity" />


        <activity
            android:name=".UpdateProfileSettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RatingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SetupActivity" />


        <activity
            android:name=".MyPostActivity"
            android:parentActivityName=".MainActivity" />


        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />




    </application>



</manifest>